/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


$container-tablet: 800px;
$container-desktop: 800px;
$container-large-desktop: 800px;

body, html, .container-fluid { /// take all available height
  height: 100%;
}
body {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.16, #C1C6B8),
    color-stop(0.53, #D9D5C1),
    color-stop(0.81, #D29110),
    color-stop(1, #C5780C)
  );
  background-image: -o-linear-gradient(bottom, #C1C6B8 16%, #D9D5C1 53%, #D29110 81%, #C5780C 100%);
  background-image: -moz-linear-gradient(bottom, #C1C6B8 16%, #D9D5C1 53%, #D29110 81%, #C5780C 100%);
  background-image: -webkit-linear-gradient(bottom, #C1C6B8 16%, #D9D5C1 53%, #D29110 81%, #C5780C 100%);
  background-image: -ms-linear-gradient(bottom, #C1C6B8 16%, #D9D5C1 53%, #D29110 81%, #C5780C 100%);
  background-image: linear-gradient(to bottom, #C1C6B8 16%, #D9D5C1 53%, #D29110 81%, #C5780C 100%);
}

@import "bootstrap";